:root {
  --background:#ffffff;
  --Texttitle: #f8244f;
  --text:#0000;
}


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.invisible {
  opacity: 0;
  visibility: hidden;
}


.navbarre {
  position: fixed !important;
  top: 0 !important;
  z-index: 1000;
  background: #fff !important;
  width: 100%;
  margin-bottom: 10rem;
  box-shadow: #ffcbd6 0.5px 0.5px 0.5px 0.5px;
}


.boxCover {
  background-image: linear-gradient(rgba(34,34,34,0.5), rgba(34,34,34,0.5)),
    url('/images/catimg3.jpg');;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #23222298;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center; 
  color: #fff;
}

.boxCover1 {
  background-image: linear-gradient(rgba(34,34,34,0.5), rgba(34,34,34,0.5)),
    url('/images/imgCover1.jpg');;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #23222298;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center; 
  color: #fff;
}


.boxCover2 {
  background-image: linear-gradient(rgba(34,34,34,0.5), rgba(34,34,34,0.5)),
    url('/images/catimg6.jpg');;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #23222298;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center; 
  color: #fff;
}

.boxCover3 {
  background-image: linear-gradient(rgba(34,34,34,0.5), rgba(34,34,34,0.5)),
    url('/images/imgConnexion.jpg');;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #23222298;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center; /* centre verticalement */
  align-items: center;     /* centre horizontalement */
  text-align: center; 
  color: #fff;
}


.btnCover {
    background-color: #f8244f;
    width: 200px;
    border: none;
    border-radius: 8px;
    padding: 0.5rem;
    color: #ffff;
    transition: transform 0.3s;
    display: flex;
    justify-content: center;
}

.btnCover:active{
    border: #f8244f solid 0.5px;
    border-radius: 8px;
    padding: 0.4rem;
    color: #f8244f;
    background-color: transparent;
    width: 200px;
    transform: scaleX(0.9);
}

.boxCategorie {
  height: 100vh;
}

.glassEffect {
  background: rgb(247, 17, 17); /* couleur f8244f avec opacité */
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  color: white;
  padding: 1rem;
  text-align: center;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style: none;
}

.textInfoShop {
  color : var(--Texttitle)
}

.sideBarStyle {
  width: 70px;
  display: flex;
  flex-direction: column;
  background-color: #ff1343;
}

.sideBarStyle div{
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  margin-top: 40px;
}

.sideBarStyle div Link {
  color: #f8244f;
}


.sideBarSm {
  background-color: #ff1343 !important;
  max-width: 70px !important;
  border-bottom-right-radius: 10px;
  border-top-right-radius : 10px;
}

.item {
  height: 100px;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ff1343;
  color: #fff;
}

.itemProfil {
  background-color: #ff1343;
  color: #fff;
}

.itemSm {
  height: 100px;
  max-width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bgTable {
  color: #ff1343 !important;
}

.boxVue {
  background-color: #ff1343;
  padding: 5px;
  border-radius: 7px;
  border: none;
  color: #fff;
  transition: transform 0.3s;
}

.boxVue:active {
  background-color: #fff ;
  padding: 5px;
  border: #ff1343 solid 1px;
  border-radius: 7px;
  color: #ff1343;
  transform: scaleX(0.9);
}

.bgInfoProfil {
  background-color: #ff1343;
}

.btnAdd{
  background-color: #ff1343;
}

.bgSwiper {
  background-color: #eaeaea;
}

.btnSell {
  background-color: transparent;
  border: solid #ff1343 0.5px;
  padding: 0.2rem;
  border-radius: 7px;
  color: #ff1343;
  transition: transform 0.3s;
  font-size: 14px;
}

.btnSell:active {
  background-color: #f8244f;
  padding: 0.2rem;
  color: #eaeaea;
  transform: scaleX(0.9);
}